.counter {
  margin: 5rem auto;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
  width: 40rem;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  background-color: #E2DAD6;
}

.counter h1 {
  text-transform: uppercase;
  color: #205295;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 2rem;
}

.value {
  font-size: 4rem;
  color: #205295;
  font-weight: bold;
}

.counter button {
  margin: 0.5rem 0;
}

.increaseBy,
.decreaseBy {
  display: flex;
  flex-direction: column;
  gap: 10px;
  box-shadow: 0 0 5px #205295;
  margin: 1rem 0;
  padding: 1rem;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}

.fullWidthButton {
  width: 100%;
}

.counter .mainBlock {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.counter .mainBlock.fullWidth {
  grid-template-columns: 1fr;
}

.counter .mainBlock > div {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

/* Create custom checkbox */
.customCheckbox {
  display: none !important;
}

.customLabel {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
  max-width: 250px;
  text-align: left;
}

.customLabel::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  border: 2px solid #205295; 
  border-radius: 4px; 
  background-color: white;
  box-sizing: border-box;
  transition: all 0.2s;
}

.customCheckbox:checked + .customLabel::before {
  background-color: #205295;
  border-color: #205295;
}
.customCheckbox:checked + .customLabel::after {
  content: "";
  position: absolute;
  left: 7px; 
  top: 46%;
  transform: translateY(-50%) rotate(45deg);
  width: 4px; 
  height: 9px;
  border: solid white; 
  border-width: 0 2px 2px 0; 
}
.numberInput {
  margin-left: 10px;
  display: block;
  width: 100px;
  border-radius: 4px;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.numberInput:focus {
  outline: none;
}