* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #252525;
  background-color: #E2DAD6;
}

button {
  font: inherit;
  cursor: pointer;
  background-color: #144272;
  border: 1px solid #144272;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
}

button:hover,
button:active {
  background-color: #205295;
  border-color: #205295;
}